@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Dirt&display=swap');

@font-face {
    font-family: 'ufc';
    src: url('/fonts/Sternbach Bold Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
}

button {
    text-transform: uppercase;
    font-weight: 700 !important;
}

.custom-sidebar {
    background: rgba(34, 34, 34, .88);
}

#navbarNavDropdown>ul>li a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

#navbarNavDropdown>ul>li a:hover {
    color: #9e0808;
}


.custom-btn-login {
    border-color: #fff;
    color: #fff;
}

.custom-btn-login:hover {
    border-color: red;
    background-color: red;
}

.custom-btn-signup {
    border-color: #9e0808 !important;
    background: #9e0808;
    border-color: #fff;
    color: #fff;
}

.custom-btn-signup:hover {
    border-color: red !important;
    background-color: red;
}

.custom-btn-signup.sub {
    border-color: #fff !important;
    background-color: #fff;
    color: #d20a0a;
    padding: 10px 20px;
}

.custom-btn-signup.sub:hover {
    border-color: #9e0808 !important;
    background-color: #9e0808;
    color: #fff;
}

.custom-btn-login.sub {
    border-color: #fff !important;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
}

.custom-btn-login.sub:hover {
    border-color: #fff !important;
    background-color: #fff;
    color: #d20a0a;
}

.custom-btn-signup.now {
    border-color: #d20a0a !important;
    background-color: #d20a0a;
    color: #fff;
}

.custom-btn-signup.now:hover {
    border-color: #d20a0a !important;
    background-color: #fff;
    color: #d20a0a;
}

.fs-7 {
    font-size: .875rem;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.navbar-toggler {
    color: transparent;
}

.custom-submenu {
    background: #d20a0a;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
}

.custom-submenu a div {
    text-transform: uppercase;
}

.custom-submenu a div {
    transition: background 0.3s, color 0.3s;
}

.custom-submenu a div:hover {
    background: #fafbfd;
    color: #d20a0a;
}

.custom-submenu a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-weight: inherit;
    font-weight: 500;
    letter-spacing: 2px;
}

.ufcfont {
    font-family: 'ufc';
}

.clip-path-element {
    width: 100%;
    height: 100vh;
    /* Ajuste a altura conforme necessário */
    background-color: #f4f4f4;
    clip-path: polygon(100% 18%, 0% 100%, 100% 100%);
    position: fixed;
    bottom: 0;
    z-index: -100;
}

.container-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 67%);
    z-index: -1;
}

.container-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -2;
}

.toutlip-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.events{
    text-align: center;
    background-color: #f4f4f4;
    background-image: url('/images/background.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.dowloadapp-img-1{
    text-align: center;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, .85) 19%, rgba(0, 0, 0, .03) 47%, #000 76%), url('/images/background2.jpg');
    /* background-image: url('/images/background2.jpg'); */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
}
section.next-event{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .03) 0%, #000 98%), url('/images/background3.png');
}


.fw-100 {
    font-weight: 100 !important
}

.fw-200 {
    font-weight: 200 !important
}

.fw-300 {
    font-weight: 300 !important
}

.fw-400 {
    font-weight: 400 !important
}

.fw-500 {
    font-weight: 500 !important
}

.fw-600 {
    font-weight: 600 !important
}

.fw-700 {
    font-weight: 700 !important
}

.fw-800 {
    font-weight: 800 !important
}

.fw-900 {
    font-weight: 900 !important
}

/* Extra Small (xs) */
@media (max-width: 575.98px) {
    /* Estilos para telas menores que 576px */
}

/* Small (sm) */
@media (min-width: 576px) {
    /* Estilos para telas maiores ou iguais a 576px */
}

/* Medium (md) */
@media (min-width: 768px) {
    /* Estilos para telas maiores ou iguais a 768px */
}

/* Large (lg) */
@media (min-width: 992px) {
    /* Estilos para telas maiores ou iguais a 992px */
}

/* Extra Large (xl) */
@media (min-width: 1200px) {
    /* Estilos para telas maiores ou iguais a 1200px */
}